html {
    font-family: 'Public Sans', sans-serif;
}

main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.pinturas {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.pinturas .pintura {
    width: 335px;
    height: 431px;
    position: relative;
}

.pinturas .pintura img {
    width: 100%;
}

.pinturas .pintura .informacoes {
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 20px;
}

.pinturas .pintura .informacoes h2 {
    font-size: 30px;
    margin-bottom: 8px;
}

.pinturas .pintura .informacoes h3 {
    font-weight: 300;
    font-size: 17px;
}
